@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');



.header {
    width:98%;
    display: flex;
    justify-content: space-between;
    background-color: #c5d3ed;
    padding: 20px;
}

h2{
    margin-top: 5px;
    font-family: 'Assistant', sans-serif;
    background-color: #c5d3ed;
}

.user{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;   
    background-color: #c5d3ed;
}
h4{
    font-family: 'Inconsolata', monospace;
    background-color: #c5d3ed;
    padding-right: 15px;
}
.logoutBtn{
    width:70px;
    height: 30px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Ubuntu Mono', monospace;
    color:rgb(15, 14, 14);
    background-color: #c5d3ed;
}
span{
    background-color: #c5d3ed;
}
.logoutBtn:hover{
    color: rgb(204, 217, 236);
    background-color:darkgrey
}

/*

font-family: 'Assistant'  , sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Ubuntu Mono', monospace;

*/