.main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding-left: 20px;
}

.addFile{
    border: 2px solid white ;
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 5px;
    transition: 0.5s;
}

.addFile:hover{
    border: 2px solid #070707;
    transform: scale(1.05);
    
}