.main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding-left: 20px;
}

.addFile{
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 5px;

}

/* .addFile>form>input{
    
} */