.img{
    border: 2px solid white ;
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 5px;
    transition: 0.5s;
}

.img:hover{
    border: 2px solid #070707;
    transform: scale(1.05);
    
}